<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ROOTNET-Core-v5.32.04.win32.vc10" version="2.6" targetFramework="net40-Client" />
  <package id="ROOTNET-Dynamic-v5.32.04.win32.vc10" version="2.6" targetFramework="net40-Client" />
  <package id="ROOTNET-PROOF-v5.32.04.win32.vc10" version="2.6" targetFramework="net40-Client" />
  <package id="ROOTNET-Tree-v5.32.04.win32.vc10" version="2.6" targetFramework="net40-Client" />
</packages>