<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Remotion.Linq" version="2.0.3-x-009-160302-230435" targetFramework="net45" />
  <package id="ROOT.NET.Core" version="5.34.34.11" targetFramework="net45" />
  <package id="ROOT.NET.Dynamic" version="5.34.34.11" targetFramework="net45" />
</packages>