<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NVelocity" version="1.0.3" />
  <package id="Remotion.Linq" version="1.15.9.0" targetFramework="net45" />
  <package id="ROOTNET-Core-v5.34.07.win32.vc10" version="2.6" targetFramework="net40" />
  <package id="ROOTNET-Dynamic-v5.34.07.win32.vc10" version="2.6" targetFramework="net40" />
  <package id="ROOTNET-Tree-v5.34.07.win32.vc10" version="2.6" targetFramework="net40" />
</packages>