<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ROOTNET-Core-v5.30.01.win32.vc10" version="2.5" targetFramework="net40" />
  <package id="ROOTNET-Dynamic-v5.30.01.win32.vc10" version="2.5" targetFramework="net40" />
  <package id="ROOTNET-Tree-v5.30.01.win32.vc10" version="2.5" targetFramework="net40" />
</packages>